/* ==========================================================================
   App style
   ========================================================================== */
$red: #6B211E;
$grey: #eee;

body {
  background: $red;
  color: $grey;
}